<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First name : <input type="text" th:field="*{firstName}" />

    <br/>
    <br/>

    Last name : <input type="text" th:field="*{lastName}" />

    <br/>
    <br/>

    <select th:field="*{country}">
        <option th:each="Country : ${countries}" th:value="${Country}" th:text="${Country}"></option>
    </select>

    <br/>
    <br/>

    Favorite Programming Language:

    <input type="radio" th:field="*{favoriteLanguage}"
                        th:each="lang : ${languages}"
                        th:value="${lang}"
                        th:text="${lang}"/>

    <br/>
    <br/>

    Favorite Operating Systems:

    <input type="checkbox" th:field="*{favoriteSystems}"
                            th:each="system : ${systems}"
                            th:value="${system}"
                            th:text="${system}"/>

    <br/>
    <br/>

    <input type="submit" value="Submit"/>

</form>

</body>
</html>